/* $Id$ */
.view-event-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.view-event-list ul li {
  list-style: none;
  clear: both;
  margin-bottom: 10px;
}
.view-event-list .event .event-image {
  float: left;
  margin-right: 10px;
}
.view-event-list .event .event-details {
  padding-left: 230px;
}